.flex{
	display: flex;
}
.flex-bt{
	display: flex;
	justify-content: space-between;
}
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-last{
	display: flex;
	justify-content: end;
}
.flex-sa{
	display: flex;
	justify-content: space-around;
}
.flex-v-center{
	display: flex;
	align-items: center;
}
.flex-h-center{
	display: flex;
	justify-content: center;
}
.flex-h-bt{
	display: flex;
	justify-content: space-between;
}

.ps-rel{
	position:relative;
}
.ps-abs{
	position:absolute;
}
.ps-center{
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.ps-r-bottom{
	bottom:30upx;
	right:18upx;
}
