@font-face {
    font-family:"iconfont";
    /* Project id 3636434 */
    src: url('//at.alicdn.com/t/c/font_3636434_ng8y8gehmf.woff2?t=1662627100345') format('woff2'), url('//at.alicdn.com/t/c/font_3636434_ng8y8gehmf.woff?t=1662627100345') format('woff'), url('//at.alicdn.com/t/c/font_3636434_ng8y8gehmf.ttf?t=1662627100345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ashbin:before {
  content: "\e68f";
}

.icon-direction-down:before {
  content: "\e693";
}

.icon-cut:before {
  content: "\e69c";
}

.icon-map:before {
  content: "\e69e";
}

.icon-warning:before {
  content: "\e6a1";
}

.icon-jianpan:before {
  content: "\e615";
}

.icon-jianpan1:before {
  content: "\e69f";
}

.icon-qq:before {
  content: "\e602";
}

.icon-add-circle:before {
  content: "\e690";
}

.icon-close:before {
  content: "\e691";
}

.icon-error:before {
  content: "\e692";
}

.icon-notification:before {
  content: "\e694";
}

.icon-mic:before {
  content: "\e696";
}

.icon-play:before {
  content: "\e697";
}

.icon-success:before {
  content: "\e698";
}

.icon-delete-filling:before {
  content: "\e699";
}

.icon-success-filling:before {
  content: "\e69a";
}

.icon-arrow-:before {
  content: "\e626";
}

.icon-renzhengyonghu:before {
  content: "\e601";
}

.icon-shuaxin:before {
  content: "\e673";
}

.icon-xihuanfill:before {
  content: "\e760";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-weixin:before {
  content: "\e695";
}

.icon-nan:before {
  content: "\e679";
}

.icon-nv:before {
  content: "\e67c";
}

.icon-xinlangweibo:before {
  content: "\e627";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-icon_fabu:before {
  content: "\eb88";
}

.icon-saoyisao:before {
  content: "\e62d";
}

.icon-zengjia:before {
  content: "\e8c0";
}

.icon-cry:before {
  content: "\e67e";
}

.icon-fabulous:before {
  content: "\e67f";
}

.icon-good:before {
  content: "\e680";
}

.icon-keyboard-26:before {
  content: "\e683";
}

.icon-link:before {
  content: "\e684";
}

.icon-smile:before {
  content: "\e687";
}

.icon-select-bold:before {
  content: "\e68b";
}

.icon-meh-filling:before {
  content: "\e68c";
}

.icon-cry-filling:before {
  content: "\e68e";
}

.icon-bxs-user-detail:before {
  content: "\e6e6";
}

.icon-qiandaoicon:before {
  content: "\e650";
}

.icon-bianjishuru:before {
  content: "\e8cc";
}

.icon-xingxing:before {
  content: "\e610";
}

.icon-31shouye:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e607";
}

.icon-liaotian:before {
  content: "\e63f";
}

.icon-3column:before {
  content: "\e663";
}

.icon-add:before {
  content: "\e664";
}

.icon-adjust:before {
  content: "\e665";
}

.icon-arrow-right-circle:before {
  content: "\e666";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-arrow-right:before {
  content: "\e668";
}

.icon-browse:before {
  content: "\e669";
}

.icon-bottom:before {
  content: "\e66a";
}

.icon-back:before {
  content: "\e66b";
}

.icon-bad:before {
  content: "\e66c";
}

.icon-arrow-double-left:before {
  content: "\e66d";
}

.icon-copy:before {
  content: "\e66e";
}

.icon-elipsis:before {
  content: "\e66f";
}

.icon-edit:before {
  content: "\e670";
}

.icon-eye-close:before {
  content: "\e671";
}

.icon-file-delete:before {
  content: "\e672";
}

.icon-home:before {
  content: "\e674";
}

.icon-history:before {
  content: "\e675";
}

.icon-layers:before {
  content: "\e676";
}

.icon-menu:before {
  content: "\e677";
}

.icon-help:before {
  content: "\e678";
}

.icon-pdf:before {
  content: "\e67a";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-share:before {
  content: "\e67d";
}

.icon-top:before {
  content: "\e681";
}

.icon-upload:before {
  content: "\e682";
}

.icon-add-bold:before {
  content: "\e685";
}

.icon-arrow-left-bold:before {
  content: "\e686";
}

.icon-arrow-up-filling:before {
  content: "\e688";
}

.icon-arrow-down-filling:before {
  content: "\e689";
}

.icon-arrow-left-filling:before {
  content: "\e68a";
}

.icon-home-filling:before {
  content: "\e68d";
}

